.catalog-basket {
    position: fixed;
    right: 20px;
    top: 50%;
    width: 1.75rem;
    height: 1.75rem;
}

.catalog-wrapper svg[data-icon="shopping-cart"] {
    width: 1.7rem;
    height: 1.7rem;
}

.catalog-basket {
    cursor: pointer;
}